<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Testing Suite" parallel="methods" thread-count="4">
    <test name="Test Parallel">
        <classes>
            <class name="com.eqonex.testng.TestMath"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
